p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;

    span {
        margin: .2rem;
        text-align: center;
        width: 200px;
    }
    
    i {
        cursor: pointer;
    }
}