<section>
    <header class="text-center">
        Tasks for 
        <strong>{{ (date$ | async)! | moment: 'DD.MM.YYYY' }}</strong>
    </header>
    <main>
        <ul *ngIf="(tasks$ | async)?.length!==0; else noTasks">
            <li class="task" *ngFor="let task of tasks$ | async">
                <input type="checkbox">
                <p>
                    {{ task.title }}
                </p>
                <button class="btn" (click)="removeTask(task)">Delete</button>
            </li>
        </ul>
        <ng-template #noTasks>
            <p>No tasks yet...</p>
        </ng-template>
    </main>
    <footer>
        <form (ngSubmit)="submit()" [formGroup]="form">
            <input type="text" formControlName="title" placeholder="describe your task here">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid">Add task</button>
        </form>
    </footer>
</section>