<table>
    <thead>
        <th>Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
    </thead>
    <tbody>
        <tr *ngFor="let week of (date$ | async)! | weeksOfMonth">
            <td 
                *ngFor="let day of week.days"
                [class.disabled]="day.disabled"
                [ngClass]="{selected: day.selected}"
                [class.active]="day.active"
                (click)="selectDay(day.value)"
            >
                <span>
                    {{ day.value | moment:'DD' }}
                </span>
            </td>
        </tr>
    </tbody>
</table>